#jinja2: lstrip_blocks: "True"

table filter {
  chain INPUT {
    # Deny connections by default
    policy DROP;

    # Connection tracking
    mod state state INVALID DROP;
    mod state state (ESTABLISHED RELATED) ACCEPT;

    # Allow local connections
    interface lo ACCEPT;

    # Respond to ping
    proto icmp icmp-type (echo-request echo-reply) ACCEPT;

    # Allow SSH connections
    proto tcp dport ssh ACCEPT;

    {# Allow encrypted connections between hosts from ipsec_peers.yml #}
    proto esp ACCEPT;
    proto udp dport (500 4500) ACCEPT;
  }

  # Allow outgoing connection by default
  chain OUTPUT {
    policy ACCEPT;

    {# Block unencrypted connections between hosts from ipsec_peers.yml #}
    # daddr {{ ipsec.right_ip }} proto esp ACCEPT;
    # daddr {{ ipsec.right_ip }} proto udp dport (500 4500) ACCEPT;
    # daddr {{ ipsec.right_ip }} proto icmp icmp-type (echo-request echo-reply) ACCEPT;
    # daddr {{ ipsec.right_ip }} REJECT reject-with icmp-port-unreachable;
  }

  # no connection forwarding
  # chain FORWARD policy DROP;
}

table nat {
  chain POSTROUTING {
    # outerface {{ ansible_default_ipv4.interface }} ! proto esp SNAT to {{ ansible_default_ipv4.address }};
    outerface {{ ansible_default_ipv4.interface }} SNAT to {{ ansible_default_ipv4.address }};
  }
}
