#jinja2: lstrip_blocks: "True"

table filter {
  chain INPUT {
    # Deny connections by default
    policy DROP;

    # Connection tracking
    mod state state INVALID DROP;
    mod state state (ESTABLISHED RELATED) ACCEPT;

    # Allow local connections
    interface lo ACCEPT;

    # Respond to pings
    proto icmp icmp-type (echo-request echo-reply) ACCEPT;

    # Allow all SSH connections
    proto tcp dport ssh ACCEPT;

    # Allow IPSec connections
    proto esp ACCEPT;
    proto udp dport (500 4500) ACCEPT;
  }

  chain FORWARD {
    # No connection forwarding by default
    policy DROP;

    # Forward only packets that came through the IPSec tunnel
    mod policy dir (in out) pol ipsec ACCEPT;
  }
}

table nat {
  chain POSTROUTING {
    # Allow traffic to flow from the VPN clients to the internet
    outerface {{ ansible_default_ipv4.interface }} SNAT to {{ ansible_default_ipv4.address }};
  }

}
