# /etc/ipsec.conf - strongSwan IPsec configuration file

conn %default
  keyexchange = ikev2
  ike = {{ defaults.ciphers.ike }}
  esp = {{ defaults.ciphers.esp }}
  auto = add

conn vpn
  authby = secret
  dpdaction = clear
  dpddelay = 300s
  left = %any
  leftsubnet = {{ defaults.conn.subnet }}
  right = %any
  rightdns = {{ defaults.conn.dns }}
  rightsourceip = {{ defaults.conn.source_ip }}