# /etc/ipsec.conf - strongSwan IPsec configuration file

conn %default
  keyexchange = ikev2
  ike = {{ ciphers.defaults.ike }}
  esp = {{ ciphers.defaults.esp }}

conn client
  auto = add
  authby = secret
  dpdaction = clear
  dpddelay = 300s
  left = %any
  leftsubnet = 217.0.0.0/8
  right = %any
  rightdns = 8.8.8.8,8.8.4.4
  rightsourceip = 172.16.16.0/24