# /etc/ipsec.conf - strongSwan IPsec configuration file

conn client
  auto = add # establish connection automatically on daemon start
  keyexchange=ikev2
  authby = secret # PSK (ipsec.secrets)
  ike = aes256gcm128-prfsha512-modp3072! # cipher suite phase 1 (key exchange)
  esp = aes256gcm128-prfsha512-modp3072! # cipher suite phase 2 (data transmission)
  dpdaction=clear
  dpddelay=300s
  left = %any # 192.168.1.10
  #leftid=@dupa
  #leftsubnet=0.0.0.0/0
  leftsubnet=217.0.0.0/8
  right = %any #  192.168.1.20 # where to connect
  rightdns=8.8.8.8,8.8.4.4
  rightsourceip = 172.16.16.0/24