# /etc/ipsec.d/{{ ipsec.conn_name }}.conf - strongSwan IPsec configuration file

conn {{ ipsec.conn_name }}
  auto = start # establish connection automatically on daemon start
  type = transport # simple and fast connection, without additional layers
  authby = secret # PSK (ipsec.secrets)
  ike = aes256gcm128-prfsha512-modp3072! # cipher suite phase 1 (key exchange)
  esp = aes256gcm128-prfsha512-modp3072! # cipher suite phase 2 (data transmission)
  keyingtries = %forever # try to connect infinitely (e.g. not abandon connecting after longer network interruption)
  left = {{ ipsec.left_ip }}
  right = {{ ipsec.right_ip }} # where to connect
  {% if ipsec.left_subnet is defined -%}
    leftsubnet = {{ ipsec.left_subnet }}
  {% endif -%}
  {% if ipsec.right_subnet is defined -%}
    rightsubnet = {{ ipsec.right_subnet }}
  {% endif -%}

